# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Selecting-columns" data-toc-modified-id="Selecting-columns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selecting columns</a></div><div class="lev1 toc-item"><a href="#Filtering-rows" data-toc-modified-id="Filtering-rows-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering rows</a></div><div class="lev2 toc-item"><a href="#WHERE,-AND,-OR,-BETWEEN,-IN" data-toc-modified-id="WHERE,-AND,-OR,-BETWEEN,-IN-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>WHERE, AND, OR, BETWEEN, IN</a></div><div class="lev2 toc-item"><a href="#NULL,-IS-NULL" data-toc-modified-id="NULL,-IS-NULL-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>NULL, IS NULL</a></div><div class="lev2 toc-item"><a href="#LIKE,-NOT-LIKE" data-toc-modified-id="LIKE,-NOT-LIKE-23"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>LIKE, NOT LIKE</a></div><div class="lev1 toc-item"><a href="#Aggregate-Functions" data-toc-modified-id="Aggregate-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Aggregate Functions</a></div><div class="lev2 toc-item"><a href="#select-and-aggregate-result" data-toc-modified-id="select-and-aggregate-result-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>select and aggregate result</a></div><div class="lev2 toc-item"><a href="#pure-arithmetic" data-toc-modified-id="pure-arithmetic-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>pure arithmetic</a></div><div class="lev2 toc-item"><a href="#use-alias" data-toc-modified-id="use-alias-33"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>use alias</a></div><div class="lev1 toc-item"><a href="#Sorting,-grouping-and-joins" data-toc-modified-id="Sorting,-grouping-and-joins-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Sorting, grouping and joins</a></div><div class="lev2 toc-item"><a href="#ORDER-BY,-(opt-DESC)" data-toc-modified-id="ORDER-BY,-(opt-DESC)-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>ORDER BY, (opt DESC)</a></div><div class="lev2 toc-item"><a href="#GROUP-BY" data-toc-modified-id="GROUP-BY-42"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>GROUP BY</a></div><div class="lev2 toc-item"><a href="#HAVING" data-toc-modified-id="HAVING-43"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>HAVING</a></div>

# Selecting columns

In [ ]:
# basic select

SELECT name 
FROM people;

SELECT name, birthdate
FROM people;
    # select multiple columns

SELECT *
FROM people;
    # select all columns from a table

SELECT *
FROM people
LIMIT 10;  
    # limit the number of rows returned

In [ ]:
# select, distinct, and count

SELECT DISTINCT language
FROM films;
    # select all the unique values from a column
    
SELECT COUNT(*)
FROM people;
    # count the number of rows in your employees table
    
SELECT COUNT(birthdate)
FROM people;
    # count the num. of non-missing values 
    # in a particular column
    
SELECT COUNT(DISTINCT birthdate)
FROM people;
    # It's also common to combine COUNT with DISTINCT 
    # to count the number of distinct values in a column.

# Filtering rows

In SQL, the WHERE keyword allows you to filter based on both text and numeric values in a table. There are a few different comparison operators you can use:

* = equal
* <> not equal
* < less than
* \> greater than
* <= less than or equal to
* \>= greater than or equal to

## WHERE, AND, OR, BETWEEN, IN

In [ ]:
# filter data based on single condition
    # WHERE 

SELECT *
FROM films
WHERE budget > 10000;
    # Simple filtering of numeric values
    
SELECT title
FROM films
WHERE country = 'China';
    # Simple filtering of text

In [ ]:
# select data based on multiple conditions
    # WHERE
    # AND, OR 
    # (for numeric) BETWEEN

SELECT title
FROM films
WHERE release_year > 1994
AND release_year < 2000;
    # or
SELECT title
FROM films
WHERE release_year > 1994 AND < 2000;

SELECT title
FROM films
WHERE release_year
BETWEEN 1994 AND 2000;  #  inclusive

SELECT title
FROM films
WHERE release_year = 1994
OR release_year = 2000;
    # or
SELECT title
FROM films
WHERE release_year = 1994 OR 2000;

SELECT title
FROM films
WHERE (release_year = 1994 OR release_year = 1995)
AND (certification = 'PG' OR certification = 'R');
    # adding parentheses

In [ ]:
# filter a column on multiple conditions 
    # WHERE IN
    
SELECT name
FROM kids
WHERE age = 2
OR age = 4
OR age = 6
OR age = 8
OR age = 10;
    # or
SELECT name
FROM kids
WHERE age IN (2, 4, 6, 8, 10);

## NULL, IS NULL

In [ ]:
SELECT COUNT(*)
FROM people
WHERE birthdate IS NULL;
    # count null values

SELECT name
FROM people
WHERE birthdate IS NOT NULL;
    # select non_null values

## LIKE, NOT LIKE

so far you've only been able to filter by specifying the exact text you're interested in. In the real world, often you'll want to search for a pattern rather than a specific text string.  

In SQL, the $LIKE$ operator can be used in a WHERE clause to search for a pattern in a column. To accomplish this, you use something called a wildcard as a placeholder for some other values.   

$\%$ : zero or more characters  
$\_$ : a single character  

You can also use the $NOT LIKE$ operator to find records that don't match the pattern you specify.

# Aggregate Functions

Often, you will want to perform some calculation on the data in a database. SQL provides a few functions, called aggregate functions, to help you out with this.

## select and aggregate result

In [ ]:
# simple aggregate 

SELECT AVG(budget)
FROM films;

SELECT MAX(budget)
FROM films;

SELECT SUM(budget)
FROM films;

In [ ]:
# aggregate on filtered rows
SELECT SUM(budget)
FROM films
WHERE release_year >= 2010;

## pure arithmetic

In [ ]:
# pure arithmetic 
SELECT (4 * 3);
SELECT (4 / 3);       # get integer result
SELECT (4.0 / 3.0);   # get float result

## use alias

In [ ]:
SELECT MAX(budget), MAX(duration)
FROM films;
    # return column names is ['max', 'max']
    
SELECT MAX(budget) AS max_budget,
       MAX(duration) AS max_duration
FROM films;
    # specify return column names

In [ ]:
SELECT (COUNT(deathdate)*100.0 /COUNT(*)) AS percentage_dead 
FROM people;
    # get percentage of death

# Sorting, grouping and joins

## ORDER BY, (opt DESC)

In [ ]:
    # sort by single column
SELECT title
FROM films
ORDER BY release_year DESC;

    # sort by multiple columns
SELECT birthdate, name
FROM people
ORDER BY birthdate, name;

## GROUP BY

Commonly, GROUP BY is used with aggregate functions like COUNT() or MAX().   
Note that GROUP BY always goes after the FROM clause!  

  
warning: SQL will return an error if you try to SELECT a field that is not in your GROUP BY clause without using it to calculate some kind of value about the entire group.

In [ ]:
SELECT sex, count(*)
FROM employees
GROUP BY sex;

`GROUP BY, ORDER BY, and more aggregations`

Make sure to always put the ORDER BY clause at the end of your query. 
You can't sort values that you haven't calculated yet!

In [ ]:
SELECT release_year, country, MAX(budget)
FROM films
GROUP BY release_year,country
ORDER BY release_year, country;

## HAVING

In SQL, aggregate functions can't be used in WHERE clauses. For example, the following query is invalid:

```
SELECT release_year
FROM films
GROUP BY release_year
WHERE COUNT(title) > 10;
```

This means that if you want to filter based on the result of an aggregate function, you need another way! That's where the HAVING clause comes in. For example,
```
SELECT release_year
FROM films
GROUP BY release_year
HAVING COUNT(title) > 10;
```

In [ ]:
SELECT release_year, count(*)
FROM films
GROUP BY release_year
HAVING COUNT(*) > 200
ORDER BY count DESC;

In [ ]:
SELECT country, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
GROUP BY country
HAVING COUNT(country) > 10
    # 是不是group之后还没有condense,
    # 所以可以通过COUNT(country)来算country出现的次数？
    # 是不是所有运算结束之后才condense(drop duplicate rows)?
ORDER BY country
limit 5;

Get the country, average budget, and average gross take of countries that have made more than 10 films.