# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Selecting-columns" data-toc-modified-id="Selecting-columns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selecting columns</a></div><div class="lev1 toc-item"><a href="#Filtering-rows" data-toc-modified-id="Filtering-rows-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering rows</a></div>

# Selecting columns

In [ ]:
# basic select

SELECT name 
FROM people;

SELECT name, birthdate
FROM people;
    # select multiple columns

SELECT *
FROM people;
    # select all columns from a table

SELECT *
FROM people
LIMIT 10;  
    # limit the number of rows returned

In [ ]:
# select, distinct, and count

SELECT DISTINCT language
FROM films;
    # select all the unique values from a column
    
SELECT COUNT(*)
FROM people;
    # count the number of rows in your employees table
    
SELECT COUNT(birthdate)
FROM people;
    # count the num. of non-missing values 
    # in a particular column
    
SELECT COUNT(DISTINCT birthdate)
FROM people;
    # It's also common to combine COUNT with DISTINCT 
    # to count the number of distinct values in a column.

# Filtering rows

In SQL, the WHERE keyword allows you to filter based on both text and numeric values in a table. There are a few different comparison operators you can use:

* = equal
* <> not equal
* < less than
* \> greater than
* <= less than or equal to
* \>= greater than or equal to

In [ ]:
SELECT *
FROM films
WHERE budget > 10000;
    # Simple filtering of numeric values
    
SELECT title
FROM films
WHERE country = 'China';
    # Simple filtering of text

In [ ]:
# select data based on multiple conditions

SELECT title
FROM films
WHERE release_year > 1994
AND release_year < 2000;
    # or
SELECT title
FROM films
WHERE release_year > 1994 AND < 2000;