# Table of Contents
 <p><div class="lev1 toc-item"><a href="#1-Extracting,-filtering,-and-transforming-data-from-DataFrames-Advanced" data-toc-modified-id="1-Extracting,-filtering,-and-transforming-data-from-DataFrames-Advanced-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1 Extracting, filtering, and transforming data from DataFrames Advanced</a></div><div class="lev2 toc-item"><a href="#1.1-indexing-dataframes" data-toc-modified-id="1.1-indexing-dataframes-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>1.1 indexing dataframes</a></div><div class="lev2 toc-item"><a href="#1.2-slicing-dataframes" data-toc-modified-id="1.2-slicing-dataframes-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>1.2 slicing dataframes</a></div><div class="lev2 toc-item"><a href="#1.3-filtering-rows-and-selecting-columns☆" data-toc-modified-id="1.3-filtering-rows-and-selecting-columns☆-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>1.3 filtering rows and selecting columns☆</a></div><div class="lev2 toc-item"><a href="#1.4-transforming-dataframes☆☆" data-toc-modified-id="1.4-transforming-dataframes☆☆-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>1.4 transforming dataframes☆☆</a></div><div class="lev1 toc-item"><a href="#2-indexing-with-multiple-levels" data-toc-modified-id="2-indexing-with-multiple-levels-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>2 indexing with multiple levels</a></div><div class="lev2 toc-item"><a href="#2.1-index-objects-and-labeled-data" data-toc-modified-id="2.1-index-objects-and-labeled-data-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>2.1 index objects and labeled data</a></div><div class="lev2 toc-item"><a href="#2.2-hierarchical-indexing☆" data-toc-modified-id="2.2-hierarchical-indexing☆-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>2.2 hierarchical indexing☆</a></div><div class="lev1 toc-item"><a href="#3-Pivoting,-stacking-&amp;-unstacking,-melting,-and-pivot-tables" data-toc-modified-id="3-Pivoting,-stacking-&amp;-unstacking,-melting,-and-pivot-tables-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>3 Pivoting, stacking &amp; unstacking, melting, and pivot tables</a></div><div class="lev2 toc-item"><a href="#3.1-pivoting-dataframes☆" data-toc-modified-id="3.1-pivoting-dataframes☆-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>3.1 pivoting dataframes☆</a></div><div class="lev2 toc-item"><a href="#3.2-stacking-&amp;-unstacking-dataframes" data-toc-modified-id="3.2-stacking-&amp;-unstacking-dataframes-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>3.2 stacking &amp; unstacking dataframes</a></div><div class="lev2 toc-item"><a href="#3.3-melting-dataframes☆☆☆" data-toc-modified-id="3.3-melting-dataframes☆☆☆-33"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>3.3 melting dataframes☆☆☆</a></div><div class="lev2 toc-item"><a href="#3.4-pivot-table☆☆" data-toc-modified-id="3.4-pivot-table☆☆-34"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>3.4 pivot table☆☆</a></div><div class="lev1 toc-item"><a href="#4--spliting-DataFrames-by-groups" data-toc-modified-id="4--spliting-DataFrames-by-groups-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>4  spliting DataFrames by groups</a></div><div class="lev2 toc-item"><a href="#4.1-categoricals-and-groupby" data-toc-modified-id="4.1-categoricals-and-groupby-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>4.1 categoricals and groupby</a></div><div class="lev2 toc-item"><a href="#4.2-groupby-and-aggregation" data-toc-modified-id="4.2-groupby-and-aggregation-42"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>4.2 groupby and aggregation</a></div><div class="lev2 toc-item"><a href="#4.3-groupby-and-transformation☆☆" data-toc-modified-id="4.3-groupby-and-transformation☆☆-43"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>4.3 groupby and transformation☆☆</a></div><div class="lev2 toc-item"><a href="#4.4-groupby-and-filtering☆☆" data-toc-modified-id="4.4-groupby-and-filtering☆☆-44"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>4.4 groupby and filtering☆☆</a></div>

后面标注☆的是不太熟悉的内容

* 1 Extracting, filtering, and transforming data from DataFrames Advanced 
	* 1.1 indexing dataframes
	* 1.2 slicing dataframes
	* 1.3 filtering rows and selecting columns ---- ☆ 
	* 1.4 transforming dataframes ----------------- ☆☆
* 2 indexing with multiple levels
	* 2.1 index objects and labeled data
	* 2.2 hierarchical indexing -------------------- ☆
* 3 Pivoting, stacking & unstacking, melting, and pivot tables
	* 3.1 pivoting dataframes ---------------------- ☆
	* 3.2 stacking & unstacking dataframes
	* 3.3 melting dataframes ---------------------- ☆☆☆
	* 3.4 pivot table ----------------------------- ☆☆
* 4 identifying and spliting DataFrames by groups
	* 4.1 categoricals and groupby
	* 4.2 groupby and aggregation
	* 4.3 groupby and transformation --------------- ☆☆
	* 4.4 groupby and filtering -------------------- ☆☆

# 1 Extracting, filtering, and transforming data from DataFrames Advanced

## 1.1 indexing dataframes

In [ ]:
# indexing using square brackets
df[col_label][row_label]

# accessing column as attribute
df.eggs[col_label]

# using the .loc accessor (index by label)
df.loc[row_label, col_label]

# using the .iloc accessor (index by position)
df.iloc[row_pos, col_pos]

# selecting only some columns 
df_new = df[ [colA, colB] ]

## 1.2 slicing dataframes

In [ ]:
# selecting a column (get a Series)
df[colA]

# slicing and indexing a Series
df[colA][1:4] # part of the Series

# using .loc[]
df.loc[:, colA:colB]  # all rows, some cols 

df.loc[indxA:indxB, : ]  # some rows, all cols

# using iloc[]
df.iloc[2:5, 1:]

# using lists rather than slices 来选择不连续的row/col
df.loc[indxA:indxD, [colA, colE]]

df.iloc[ [0,4,5], 0:2]

# slice and using steps
p_counties_rev = election.loc['Potter':'Perry':-1, :]  # slice index in reverse order

# Series versus 1-col DataFrame
s = df['eggs']  # get a Series by column name
d = df[ ['eggs'] ]  # get a 1-col DataFrame

## 1.3 filtering rows and selecting columns☆

In [ ]:
# filtering rows with a boolean Series
df[ df.colA > 60 ]
df[(df.colA > 60) & (df.colB < 200)]
df[(df.colA >= 50)  | (df.colB < 200)]

In [42]:
# selecting columns with zeros (1)

df2 = df.copy()
df2['bacon'] = [0, 0, 50, 60, 70, 80]
df2

     eggs  salt  spam  bacon
Jan    47  12.0    17      0
Feb   110  50.0    31      0
Mar   221  89.0    72     50
Apr    77  87.0    20     60
May   132   NaN    52     70
Jun   205  60.0    55     80

In [ ]:
# selecting columns with zeros (2)

df2.loc[:, df2.all()] # select cols with **all** nonzeros

df2.loc[:, df2.any()]  # selct cols with **any** nonzeros
                       # filtering out cols with all zeros

In [ ]:
# select columns with any NaNs
df.loc[:, df.isnull().any() ]

# select columns without NaNs， filtering out cols with all NaNs
df.loc[:, df.notnull().all() ]

In [ ]:
# drop **rows** with any num of NaNs
df.dropna(how = 'any')

In [ ]:
# filtering a column based on another
df.eggs[df.salt > 55]

# modifying a column based on another
df.eggs[df.salt > 55] += 5

## 1.4 transforming dataframes☆☆

In [43]:
# dataframe vectorized method
df.floordiv(12).head(2) # convert to dozens unit

     eggs  salt  spam
Jan     3   1.0     1
Feb     9   4.0     2

In [44]:
# numpy vectorized functions 
import numpy as np

np.floor_divide(df, 12).head(2)

     eggs  salt  spam
Jan   3.0   1.0   1.0
Feb   9.0   4.0   2.0

In [45]:
# plain python fuctions with df.apply() (1)
def dozens(n):
    return n // 12

df.apply(dozens).head(2)

     eggs  salt  spam
Jan     3   1.0     1
Feb     9   4.0     2

In [46]:
# plain python functions with df.apply() (2)
df.apply(lambda n: n//12).head(2)

     eggs  salt  spam
Jan     3   1.0     1
Feb     9   4.0     2

In [47]:
# working with string values (1)
df.index = df.index.str.upper()
df.head(2)

     eggs  salt  spam
JAN    47  12.0    17
FEB   110  50.0    31

In [48]:
# working with string values (2)
df.index = df.index.map(str.lower)   # .map() to index is as .apply() to cols
df.head(2)

    # another example of .map()
    # Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue', 'Romney':'red'}

    # Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election['winner'].map(red_vs_blue)

     eggs  salt  spam
jan    47  12.0    17
feb   110  50.0    31

In [ ]:
# storing a transformation
df['dozens_of_eggs'] = df.eggs.floordiv(12)

# defining columns using other columns 
df['salty_eggs'] = df.salt + df.dozens_of_eggs

# 2 indexing with multiple levels

## 2.1 index objects and labeled data

In [ ]:
# a review of index
import pandas as pd

prices = [10, 11, 13, 15, 18]
shares = pd.Series(prices)   # by default get a rangeIndex

days= ['Mon', 'Tue', 'Wed', 'Thur', 'Fri']
shares = pd.Series(prices, index = days)  # customize the index

shares.index.name   # by default there's no name yet
shares.index.name = 'weekday'   # set the name of index

# modifying index entries 
shares.index[2] = 'Wednesday'  # get error: index is not mutable

share.index = ['Monday', 
               'Tuesday', 
               'Wednesday', 
               'Thurday', 
               'Friday']    # workd. modifying all the index in one shot

## 2.2 hierarchical indexing☆

In [ ]:
# multiIndex on DataFrame
df.set_index([indx_colA, indx_colB])  # .set_index() with an orderd lst of col labels
                                      # indx_colA is the column name
# sorting index
df.sort_index()

# indexing individual row
df.loc[ (indxA, indxB) ]    # indxA is some value in indx_colA

# indexing an individual cell
df.loc[(indxA, indxB), colC]

In [ ]:
# slicing outermost index
df.loc[indxA]

df.loc[indxA1:indxA3]

df.loc[ ([indxA1, indxA2], indxB), : ]  # two levels in indxA 
                                        # one levels in indxB
                                        # and all columns

df.loc[ ([indxA1, indxA2], indxB), colC ]  # 2-lev indxA, 1-lev indxB, 
                                           # and colC

df.loc[ (indxA1, [indxB1, indxB2]), : ]

df.loc[ (slice(None), slice(indxB1, indxB2)), : ]  # 用来包住多层Index的tuple不认识colon(:)
                                                   # 当某一级Index的所有level都想选中时
                                                   # using slice(None) to tell pandas explicitly

# 3 Pivoting, stacking & unstacking, melting, and pivot tables

## 3.1 pivoting dataframes☆

In [61]:
# to better illustrate, make up a df
data = {'id':[1,2,3,4],
        'treatment':['A', 'A', 'B', 'B'],
        'gender':['F', 'M', 'F', 'M'],
        'response':[5,3,8,9]}
df = pd.DataFrame(data)
df

  gender  id  response treatment
0      F   1         5         A
1      M   2         3         A
2      F   3         8         B
3      M   4         9         B

In [52]:
df.pivot(index = 'treatment', 
         columns = 'gender', 
         values = 'response' # to fill cells with values in 'response' col
        )

gender     F  M
treatment
A          5  3
B          8  9

In [53]:
# when multiple values responding to one index and colums
# pandas generate hierarchical column names
df.pivot(index = 'treatment', 
         columns = 'gender'
        )

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

## 3.2 stacking & unstacking dataframes

stacking and unstacking works with hierarchical-indexed df

In [62]:
df = df.set_index(['treatment', 'gender'])
df   # a dataframe with hierarchical index
     # .pivot() cannot work with such dataframe

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

In [63]:
# using .unstack() to make df wider (1)
df.unstack(level = 'gender')  # specify by index name 'gender'

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [64]:
# using .unstack() to make df wider (2)
df.unstack(level = 1)  # specify by index position 1

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [66]:
# stacking dataframe
unstacked = df.unstack(level = 'gender')

stacked = unstacked.stack(level = 'gender')  # get back the original hierarchical df
stacked

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

In [ ]:
# swapping levels 
stacked.swaplevel(0, 1)

# sorting the outmost level
stacked.sort_index()

## 3.3 melting dataframes☆☆☆
the goal of melting is to restore a pivoted DataFrame to its original form,   
or to change it from a wide shape to a long shape.

In [67]:
# to better illustrate, make up a df
data = {'id':[1,2,3,4],
        'treatment':['A', 'A', 'B', 'B'],
        'gender':['F', 'M', 'F', 'M'],
        'response':[5,3,8,9]}
df = pd.DataFrame(data)
df   # origin dataset, each row is an observation

  gender  id  response treatment
0      F   1         5         A
1      M   2         3         A
2      F   3         8         B
3      M   4         9         B

In [69]:
pivoted = df.pivot(index = 'treatment', 
         columns = 'gender', 
         values = 'response'
         )
pivoted   # this pivoted data better shows the relationship 
          # between treament and gender

gender     F  M
treatment
A          5  3
B          8  9

In [72]:
# now, how to get back to the original data?
pd.melt(pivoted.reset_index())  # this is not exactly what we want 
                                # the treatment undesirablly horizontalized

      gender value
0  treatment     A
1  treatment     B
2          F     5
3          F     8
4          M     3
5          M     9

In [73]:
# 对照origin data，希望treatment保持纵向col，gender-response pair变横向
pd.melt(pivoted.reset_index(), 
        id_vars = ['treatment'],  # identical column to keep 
        value_vars = ['F', 'M'],  # explicitly specify cols want to horizontalize 
        value_name = 'response'   # 这是从pivoted的cell中释放出的value，加个col_name
       )

  treatment gender  value
0         A      F      5
1         B      F      8
2         A      M      3
3         B      M      9

## 3.4 pivot table☆☆

* 用.pivot()需要col-idx pair unique.
* 当col-idx pair不是unique时，用.pivot_table()

In [77]:
data = {'id':[1,2,3,4], 
        'treatment':['A','A','B','B'], 
        'gender':['M','M','F','F'], 
        'response':[3,8,4,6]}
df = pd.DataFrame(data)
df

  gender  id  response treatment
0      M   1         3         A
1      M   2         8         A
2      F   3         4         B
3      F   4         6         B

In [79]:
# 调整一下col的顺序
df = df[['id', 'treatment', 'gender', 'response']]
df

   id treatment gender  response
0   1         A      M         3
1   2         A      M         8
2   3         B      F         4
3   4         B      F         6

In [80]:
# .pivot() gets an error
df.pivot(index = 'treatment', 
         columns = 'gender', 
         values = 'response'
        )                  # will get error, since col-idx pair is not unique

ValueError: Index contains duplicate entries, cannot reshape

In [81]:
# .pivot_table() cals mean by default
df.pivot_table(index = 'treatment', 
               columns = 'gender', 
               values = 'response'
              )           # by default, .pivot_table() uses mean() to aggrefate multi-value

gender       F    M
treatment
A          NaN  5.5
B          5.0  NaN

In [82]:
# .pivot_table() specify the aggregate function， eg.count
df.pivot_table(index = 'treatment', 
               columns = 'gender', 
               values = 'response', 
               aggfunc = 'count'
              )           # using count, get a frequency table

gender       F    M
treatment
A          NaN  2.0
B          2.0  NaN

In [84]:
# .pivot_table() specify the aggregate function， eg.sum, and margins of total
users_data = {'weekday':['Sun', 'Sun', 'Mon', 'Mon'], 
              'city':['Austin', 'Dallas', 'Austin', 'Dallas'], 
              'visitors':[139, 237, 326, 456],
              'signups':[7,12,3,5]
             }
users = pd.DataFrame(users_data)
users

     city  signups  visitors weekday
0  Austin        7       139     Sun
1  Dallas       12       237     Sun
2  Austin        3       326     Mon
3  Dallas        5       456     Mon

In [88]:
# .pivot_table() specify the aggregate function， eg.sum, and a margin total
users.pivot_table(index = 'weekday', 
                  aggfunc = 'sum', 
                  margins = True    # add a margins total
                 )           # pandas ignore the non-numerical cols

         signups  visitors
weekday
Mon          8.0     782.0
Sun         19.0     376.0
All         27.0    1158.0

# 4  spliting DataFrames by groups

## 4.1 categoricals and groupby

In [89]:
sales = pd.DataFrame(
           {
            'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
            'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
            'bread': [139, 237, 326, 456],
            'butter': [20, 45, 70, 98]
           }
            )
sales

   bread  butter    city weekday
0    139      20  Austin     Sun
1    237      45  Dallas     Sun
2    326      70  Austin     Mon
3    456      98  Dallas     Mon

In [90]:
# boolean filter and count, 
# you have to know there's 'Sun' in 'weekday' prior
sales.loc[(sales['weekday'] == 'Sun'), :].count()

# groupby and count
# don't have to know the levels prior
sales.groupby('weekday').count()

bread      2
butter     2
city       2
weekday    2
dtype: int64

In [ ]:
# some aggregation/reduction functions
mean()
std()
sum()
first(), last()
min(), max()

In [ ]:
# groupby -> pick one column -> sum
sales.groupby('weekday')['bread'].sum()

# groupby -> pick multi-cols -> sum
sales.groupby('weekday')[['bread', 'butter']].sum()

# groupby multi-column
sales.groupby(['city', 'weekday']).mean()

In [91]:
# group a dataframe by a Series, as long as they have the same index 
# a bit like join df and series on index, then groupby values of series
customers = pd.Series(['Dave', 'Alice', 'Bob', 'Alice'])
sales.groupby(customers)['bread'].sum()

Alice    693
Bob      326
Dave     139
Name: bread, dtype: int64

In [94]:
# cast the 'weekday' col into category type
# for it saves memory and run faster with groupby()

sales['weekday'].unique()          # there's not so many levels
sales['weekday'].value_counts()    # cal the occurence of each level

sales['weekday'] = sales['weekday'].astype('category')
sales['weekday']

pandas.core.series.Series

## 4.2 groupby and aggregation

In [96]:
sales

   bread  butter    city weekday
0    139      20  Austin     Sun
1    237      45  Dallas     Sun
2    326      70  Austin     Mon
3    456      98  Dallas     Mon

In [99]:
# single aggregation
sales.groupby('city')[['bread', 'butter']].max()

        bread  butter
city
Austin    326      70
Dallas    456      98

In [97]:
# multiple aggregations
sales.groupby('city')[['bread', 'butter']].agg(['max','sum'])

       bread      butter
         max  sum    max  sum
city
Austin   326  465     70   90
Dallas   456  693     98  143

In [100]:
# .agg() and custom aggregation (1)
# wrap up custom aggregation
def data_range(series):
    return series.max() - series.min()

sales.groupby('weekday')[['bread', 'butter']].agg(data_range)

         bread  butter
weekday
Mon        130      28
Sun         98      25

In [101]:
# .agg() and custom aggregation (2)
# diff aggfunc for diff cols
sales.groupby(customers)[['bread', 'butter']].agg({'bread':'sum', 
                                                   'butter':data_range})

       bread  butter
Alice    693      53
Bob      326       0
Dave     139       0

## 4.3 groupby and transformation☆☆  
.transformation() 和 .apply()有什么区别呢？

In [ ]:
# the z-score function
def zscore(series):
    return (series - series.mean()) / series.std()

# the automobile dataset，若干年若干车型的若干attribute
auto.columns = Index(['mpg', 'cyl', 'displ', 'hp', 
                      'weight', 'accel', 'yr', 'origin'], 
                     dtype='object')

# take 'mpg' col as a sample and cal z-score 
zscore(auto['mpg'])

# cal z-score for each yearly group in 'mpg' col
auto.groupby('yr')['mpg'].transform(zscore)  # group & aggregation is a reduction in row 
                                             # this transform don't reduct in row

In [ ]:
# apply transformation and aggregation together
def zscore_with_year_and_name(group):
    df = pd.DataFrame(
            {'mpg':zscore(group['mpg']), 
             'year':group['yr'], 
             'name':group['name']})
    return df

# apply the function to each yearly group
# take only the 3 cols, perform the transformation, get a df for each group
# then combine all df into the result df
auto.groupby('yr').apply(zscore_with_year_and_name)

## 4.4 groupby and filtering☆☆

In [ ]:
# the automobile dataset，若干年若干车型的若干attribute
auto.columns = Index(['mpg', 'cyl', 'displ', 'hp', 
                      'weight', 'accel', 'yr', 'origin'], 
                     dtype='object')

auto.groupby('yr')['mpg'].mean() # mean MPG by year

In [ ]:
# filter first then groupby
auto.loc[auto['name'].str.contains('chevrolet'), :].groupby('yr')

In [ ]:
# dimistify the groupby object 
splitting = auto.groupby('yr')

type(splitting) # get pandas.core.groupby.DataFrameGroupBy

type(splitting.groups)  # get dict

splitting.groups.keys()  # get the key you used to group dataframe
                         # here get a list of unique years

splitting.groups.values()    # get a list of groups

# iterate through groupby obj
for group_name, group in splitting:
    avg = group['mpg'].mean()
    print(group_name, avg)    # get the same result 
                              # as auto.groupby('yr')['mpg'].mean()
        
        
# iteration through and filtering within groups 
for group_name, group in splitting:
    # filter the rows where group['name'].str.contains('chevrolet') == True
    avg = group.loc[group['name'].str.contains('chevrolet'), 'mpg'].mean()
    print(group_name, avg)

# achive the same result using a dict comprehension
chevy_means = {year:group.loc[group['name'].str.contains('chevrolet'), 'mpg'].mean() 
               for year, group in splitting}

pd.Series(chevy_means)

In [ ]:
# boolean groupby
chevy = auto['name'].str.contains('chevrolet')

auto.groupby(['yr', chevy])['mpg'].mean() # this will get a hierarchical-indx df
                                          # for each 'yr' level,
                                          # there's two levels in chevy
                                          # which is True and False